.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-small);
}

.price {
    color: var(--color-title);
}

.pricePerSize {
    font-weight: bold;
}

.size {
    font-size: var(--font-small);
    font-weight: bold;
}
